<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TurtleHermit: Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <header>
        <img src="/static/images/krillin.png" height="160px" width="160px">
        <h1 href="home">TurtleHermit</h1>
        <h2>The best place to stream anything</h2>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
    </header>
    <main>
        <h2>Most Streamed</h2>
        <div class="movies">
                <div class="movie">
                    <img src="/static/images/inception.jpg" alt="Inception">
                    <h2>Inception</h2>
                </div>
                <div class="movie">
                    <img src="/static/images/dark_knight.jpg" alt="The Dark Knight">
                    <h2>The Dark Night</h2>
                </div>
                <div class="movie">
                    <img src="/static/images/endgame.jpg" alt="Avengers: Endgame">
                    <h2>Avengers: Endgame</h2>
                </div>
                <div class="movie">
                    <img src="/static/images/matrix.jpg" alt="Matrix">
                    <h2>Matrix</h2>
                </div>
        </div>
                
        <h2>Recent Releases</h2>
        <div class="movies">
                <div class="movie">
                    <img src="/static/images/vettaiyan.jpg" alt="Vettaiyan">
                    <h2>Vettaiyan</h2>
                </div>
                <div class="movie">
                    <img src="/static/images/dark_knight.jpg" alt="The Dark Knight">
                    <h2>The Dark Night</h2>
                </div>
                <div class="movie">
                    <img src="/static/images/bhoolBhulaiyaa.jpg" alt="Bhool Bhulaiyaa 3">
                    <h2>Bhool Bhulaiyaa 3</h2>
                </div>
                <div class="movie">
                    <img src="/static/images/matrix.jpg" alt="Matrix">
                    <h2>Matrix</h2>
                </div>
        </div>
    </main>
    <p>GO TO "/trailers" to watch trailers!</p>
</body>
</html>
